section#about-section
  h3 About myself
  div.face-lockup
    div.face-img(style="background-image: url('assets/img/#{avatar}')")
    div.icon-pencil
      include ../icons/pencil
    div.icon-mouse
      include ../icons/mouse
    div.icon-browser
      include ../icons/browser
    div.icon-video
      include ../icons/video
  div.blurb
    p.
      <b>I am azadar a FULL-STACK Web Developer</b> i have so much experience with making websites,
      i have worked with many companies and i also do work as a free lancer.

  div.skills-lockup
    div.skill-unit
      div.skill-label Communication
      div.skill-icon
        span.skill1

    div.skill-unit
      div.skill-label Organization
      div.skill-icon
        span.skill2


    div.skill-unit
      div.skill-label Learning
      div.skill-icon
        span.skill3

    div.skill-unit
      div.skill-label Teaching
      div.skill-icon
        span.skill4

    div.skill-unit
      div.skill-label Planning
      div.skill-icon
       span.skill5

    div.skill-unit
      div.skill-label Visual Designing
      div.skill-icon
        span.skill6


    div.skill-unit
      div.skill-label UX Design
      div.skill-icon
        span.skill7

    div.skill-unit
      div.skill-label Programming
      div.skill-icon
        span.skill8
