section.client-section

    
  div.client-controls
    div.client-control-prev
      include ../icons/client-control-prev
    div.client-control-next
      include ../icons/client-control-next    
    
  h3 CLIENTS
  
  
  
  div.mobile-client-nav
    span
    span
    span
    span
    
  div.client-belt            
    div.client-unit
      div.client-face
        img(src="/assets/img/clients/face-aaroni.jpg",alt="client-face")
        strong.client-name Aroni
        em.client-title Director of Video Design
    
    
      div.client-content
        p
              | <strong>Ipsum is simply dummy  text of the printing</strong> and typesetting industry.
              |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              |when an unknown printer took a galley of type and scrambled
              |it to make a type specimen book. It has survived not
              |only five centuries, but also the leap into electronic
              |typesetting, remaining essentially unchanged. It was              
    div.client-unit
      div.client-face
        img(src="/assets/img/clients/face-atariboy.jpg",alt="client-face")
        strong.client-name Atari boy
        em.client-title Director of Video Design
    
    
      div.client-content
        p
              | <strong>Ipsum is simply dummy  text of the printing</strong> and typesetting industry.
              |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              |when an unknown printer took a galley of type and scrambled
              |it to make a type specimen book. It has survived not
              |only five centuries, but also the leap into electronic
              |typesetting, remaining essentially unchanged. It was        
    div.client-unit
      div.client-face
        img(src="/assets/img/clients/face-jackiesaik.jpg",alt="client-face")
        strong.client-name Jackie
        em.client-title Director of Video Design
    
    
      div.client-content
        p
              | <strong>Ipsum is simply dummy  text of the printing</strong> and typesetting industry.
              |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              |when an unknown printer took a galley of type and scrambled
              |it to make a type specimen book. It has survived not
              |only five centuries, but also the leap into electronic
              |typesetting, remaining essentially unchanged. It was    
    div.client-unit
      div.client-face
        img(src="/assets/img/clients/face-teleject.jpg",alt="client-face")
        strong.client-name Tele Jack
        em.client-title Director of Video Design


      div.client-content
        p
              | <strong>Ipsum is simply dummy  text of the printing</strong> and typesetting industry.
              |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              |when an unknown printer took a galley of type and scrambled
              |it to make a type specimen book. It has survived not
              |only five centuries, but also the leap into electronic
              |typesetting, remaining essentially unchanged. It was          
  
  div.client-logos
    img.client-logo(src="/assets/img/clients/logo1.png")
    img.client-logo(src="/assets/img/clients/logo2.png")
    img.client-logo(src="/assets/img/clients/logo3.png")
    img.client-logo(src="/assets/img/clients/logo4.png")
