footer 
  div.lockup
    div.logo   
      include ../icons/logo
    
    div.content-wrap
    
      nav
        
        a(href="#") About me
        a(href="#") Work
        a(href="#") Clients
        a(href="#") Contact
        
      p.copyright all the content copyright 2016  
