header
  div.logo   
    include ../icons/logo
  nav
    
    a(href="#") About me
    a(href="#") Work
    a(href="#") Clients
    a(href="#") Contact

  h1 
    span #{title}
  p.kicker #{description}
