div.alt-section
  h3 work
  div.work-belt
    
    div.thumb-wrapper
      
      div.thumb-container
        a.thumb-unit.thumb-unit1
          div.thumb-overlay
            strong Tiana
            div.zoom-icon
              include ../icons/view

        a.thumb-unit.thumb-unit2
          div.thumb-overlay
            strong Caticity
            div.zoom-icon
              include ../icons/view

        a.thumb-unit.thumb-unit3
          div.thumb-overlay
            strong Petras Nargela
            div.zoom-icon
              include ../icons/view


        a.thumb-unit.thumb-unit4
          div.thumb-overlay
            strong.strong Ayoub Eldred
            div.zoom-icon
              include ../icons/view


        a.thumb-unit.thumb-unit5
          div.thumb-overlay
            strong Jieyu Xiong
            div.zoom-icon
              include ../icons/view


        a.thumb-unit.thumb-unit6
          div.thumb-overlay
            strong Sergey
            div.zoom-icon
              include ../icons/view


        a.thumb-unit.thumb-unit7
          div.thumb-overlay
            strong Valiuk
            div.zoom-icon
              include ../icons/view


        a.thumb-unit.thumb-unit8
          div.thumb-overlay
            strong Stripes
            div.zoom-icon
              include ../icons/view
            
    div.work-wrapper     
      div.work-container
        div.icon-back
          include ../icons/back-icon
          
        h4#heading2.project-title Typo International Designs talks
        div.project-load
