doctype html
html
  head
    link(rel='stylesheet',href='assets/css/main.css')
    script(src='assets/js/jquery.js')
    script(src='assets/js/main.js')       
  body
    - title = "AZADAR HUSSAIN"
    - description = "Thinker  Desinger  Developer"
    - avatar = "azadar.jpg"


    include pages/index
